<div class="center-container">
    <div class="form-container">
      <form (ngSubmit)="onSubmit()" [formGroup]="teacherForm">
        <div class="form-group">
          <label for="teacher-name">اسم المعلم:</label>
          <input type="text" id="teacher-name" formControlName="teacherName" required>
        </div>
        <div class="form-group">
          <label for="class">الفصل:</label>
          <select id="class" formControlName="ClassID" required>
            <option value="">اختر الفصل</option>
            <option *ngFor="let classOption of classOptions" [value]="classOption.id">
              {{ classOption.className }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="present-students">عدد الطلاب الحاضرين:</label>
          <input type="number" id="present-students" formControlName="NoOfPresentStudents" required>
        </div>
        <div class="form-group">
          <label for="absent-students">عدد الطلاب الغائبين:</label>
          <input type="number" id="absent-students" formControlName="NoOfAbsentStudents" required>
        </div>
        <div class="form-group btn-s">
          <button type="submit">تم الاخلاء</button>
        </div>
      </form>
    </div>
  </div>
  